nav{
color: #ffffff;
    text-align: center;
font-family: Merriweather;
font-size: 75px;
font-weight: 900;
line-height: 100px;
background-image: url('../resources/Banner\ Image.png');
margin-left: 200px;

border-radius: 16px;

width: 1320px;
height: 600px;

}
div{
    color: crimson;
   text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 100px;
font-weight: 800;

}
.middle{
    color: darkred;

text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
font-style: oblique;
font-weight: 400;
line-height: normal;
}
.catagory{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
section{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
height: 600px;
flex-shrink: 0;
}
.party-title{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
height: 600px;
background-position: center;
}
div p{

    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.party{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
}
.button{
   color: rgb(255, 255, 255);
   font-weight: 900;
   font-size: 20px;
    display: inline-flex;
    border-radius: 8px;
    background: rgb(247, 5, 5);
padding: 16px 32px;
justify-content: left;
align-items: last baseline;
gap: 10px;
}

.place{
    background-color: rgb(183, 145, 145);
}
.Function{
    color: #070211;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.holiday{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
span{
    color: #070211;
font-family: Merriweather;
font-size: 100px;
font-style: normal;
font-weight: 1000;
line-height: normal;
}
.sale{
    color: rgba(7, 2, 17, 0.60);
   
text-align: center;
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 32px
}
.Rectangle{

height: 229px;
flex-shrink: 0;
border-radius: 16px 0px 16px 16px;
background: #F00;
}
.resources{
    fill: linear-gradient(90deg, #FFF 0.26%, #1D1D1B 100.35%);
background-blend-mode: screen;
mix-blend-mode: screen;
width: 278.09px;
height: 333.424px;
flex-shrink: 0;
}
.rectangle-1{
    border-radius: 16px 16px 0px 0px;
background: url(<path-to-image>), lightgray -59.98px 0px / 151.553% 100% no-repeat;
width: 429px;
height: 433px;
flex-shrink: 0;
}

.gift{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portfolio{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}
.euismod{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.image{
    display: flex;
    
}
.second-image{
    display: flex;
}